(
    graph: (
        nodes: [
            (
                initial: Initial(2),
                parent: None,
                state: None,
            ),
            (
                initial: None,
                parent: Some(0),
                state: Intact,
            ),
            (
                initial: None,
                parent: Some(1),
                state: Locked,
            ),
            (
                initial: None,
                parent: Some(1),
                state: Closed,
            ),
            (
                initial: None,
                parent: Some(1),
                state: Open,
            ),
            (
                initial: None,
                parent: Some(0),
                state: Destroyed,
            ),
        ],
        node_holes: [],
        edge_property: directed,
        edges: [
            Some((1, 5, Transition(Bash(())))),
            Some((1, 1, Internal(BashSelf(())))),
            Some((2, 3, Transition(Unlock((
                key: "the right key",
            ))))),
            Some((3, 4, Transition(Open(())))),
            Some((4, 3, Transition(Close(())))),
            Some((3, 2, Transition(Lock((
                key: "the right key",
            ))))),
        ],
    ),
    root: 0,
)